.listItem {
  height: 12.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--border-color);
  background-color: #fff;
  animation: createBox 2s;
}

.itemsList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.innerList {
  margin-top: 55px;
  list-style: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.itemsList ul li {
  font-family: var(--font);
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--accent-color-actions);
  border-right: solid 2px var(--border-color);
  padding-right: 10px;
  padding-left: 5px;
  height: 20px;
  margin-bottom: 20px;
}

.itemsList ul li:last-child {
  border-right: none;
}

.bookTopic {
  opacity: 0.5;
  font-family: var(--font-header);
  font-size: 0.875rem;
  font-weight: bold;
}

.author {
  font-family: var(--font);
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--accent-color);
}

.chapter {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: var(--font);
  font-size: 0.813rem;
  font-weight: 300;
}

.lesson {
  width: 13.25rem;
  height: 1.313rem;
  margin: 0.438rem 0 0.25rem 3.688rem;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
}

button {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 1.75rem 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: none;
  background-color: var(--accent-color);
  font-family: var(--font);
  font-size: 0.813rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  cursor: pointer;
}

.percentComplete {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: var(--font-header);
  font-size: 2rem;
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: var(--font-header);
  font-size: 0.875rem;
}

.lastList {
  margin-left: 50px;
  border-left: solid 2px var(--border-color);
}

.barContainer {
  width: 80px;
  height: 80px;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .barContainer {
    width: 30px;
    height: 30px;
  }

  .itemsList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
  }

  .percentComplete {
    font-family: var(--font-header);
    font-size: 18px;
  }

  .completed {
    opacity: 0.5;
    font-family: var(--font-header);
    font-size: 12px;
  }

  .innerList {
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }

  .listItem {
    height: 16.625rem;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
    border: solid 1px var(--border-color);
    width: 100%;
    padding: 5px;
    overflow-x: hidden;
  }

  button {
    width: 7rem;
    height: 3.063rem;
    border: none;
    background-color: var(--accent-color);
    font-family: var(--font);
    font-size: 0.813rem;
    font-weight: 500;
    color: #fff;
  }

  .lastList {
    margin-left: 5px;
    border-left: solid 2px var(--border-color);
  }
}
